<%include ./partials/header%>

	<body>
		<div class="container">
			
			
			<div id="landing-header">
				<h1 class="title">Welcome to the Bikers Portal</h1><br>
				<hr>
				<p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of L</p>
				<!-- <hr class="style-two"> -->
				<div class="buttons">
					<a href="/login" class="btn btn-default local-login"><span class="fa fa-user"></span> Local Login</a><br>
					<a href="/sign-up" class="btn btn-default local-signup"><span class="fa fa-user"></span> Local Signup</a><br>
					<a href="/auth/facebook" class="btn btn-primary facebook-login"> Facebook</a><br>
					<a href="/auth/google" class="btn btn-danger google-login">Google</a><br>
				</div>
				
			</div>
			
			<ul class="slideshow">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			
		</div>
<%include ./partials/footer%>
