<%include ./partials/header %>
	<div class="row text-center">
		<%user.sort(function(a,b){%>
		<%return b.created-a.created%>
		<%})%>
		<%user.forEach(function(event){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src=<%=event.profilePhoto%>>
					<div class="caption">
						<h4><%= event.name %></h4>
						<p><a href="/profile/<%=event._id%>" class="btn btn-primary">MORE INFO</a></p>
					</div>
				</div>
				
				
			</div>
		<%})%>
			
	</div>
	


<%include ./partials/footer %>
